<h1>Admin Page</h1>

<h2>{{success}}</h2>

<form class="admin" action="/admin/post" method="POST">
	<input class="form-control" type="number" placeholder="Number" name="number">
	<input class="form-control" type="text" placeholder="Question" name="question">
	<input class="form-control" type="text" placeholder="Questions Answer" name="answer">
	<input class="form-control" type="text" placeholder="Hint" name="hint">
	<input class="form-control" type="text" placeholder="Hint Answer" name="hintAnswer">
	<button class="btn btn-primary" type="submit">Add Step</button>
</form>