<h1 class="pull-left">Admin Page</h1>
<a href="/admin/post" class="pull-right btn btn-primary">Add</a>
<table class="table-striped">
	<thead>
		<tr>
			<th>Question</th>
			<th>Hint</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{{#each steps}}
		    <tr>
		    <td>{{this.question}}</td>
		    <td>{{this.hint}}</td>
		    <td><a href="/admin/edit/{{this._id}}">Edit</a></td>
		    </tr>
		{{/each}}
	</tbody>
</table>

